/* =Theme.scss - main Sass file compiling into "../css/theme.css"
-------------------------------------------------------------- */


/* @import
-------------------------------------------------------------- */
// Base
@import "base/global"; //global variables & mixins
@import "base/reset";
@import "base/forms";
@import "base/layout";

// Partials 
@import "partials/grids";
@import "partials/animation-cloud"; 
@import "partials/animation-footer"; 
@import "partials/bg-conditionals"; //displays diff body classes for interior pg backgrounds
@import "partials/left-sidebar";
@import "partials/media"; 

// Third-party
@import "vendor/animate";
@import "vendor/flexslider";





/* Top-Level nav (teachers, parents, kids, lk nav links)
-------------------------------------------------------------- */
#menu-top.menu li a{
	float: right;
	position: relative;
	padding: 0px 0px 40px 8px;
	font-size: $top-nav;
	text-transform: uppercase;
	text-align: center;
	color: $white;
	&:hover{
		color: $ssk-accent;
	}
	&:after{
		content: ' | ';
		color: $white;
		padding-left: 10px;
		:last-child {
			content: ' ';
		}
	}
}
li #menu-item-89 a{
	&:after{
		content: ''; //TO DO fix this to remove the last-child's " | "
	}
}

/* Main SSK Landing pg (buddy with 3 clouds)
-------------------------------------------------------------- */
.center{
	text-align: center;
}
.z{
	position: relative;
	z-index: 99;
}
.logo{
	margin: 60px 0 75px 0;
}
#clouds{
	position: absolute;
	height: 200px;
	margin-top: 85px;
	background: transparent;
}
.buddy{
	margin-bottom: 0px!important;
	bottom: 0;
}



/* Teachers Landing pg 
-------------------------------------------------------------- */
html.clouds{
	overflow-x: hidden; /* for clouds animations */
}
#page{
	background: transparent;
	box-shadow: none;
}
#main{
	padding: 10px 0 0 0;
}
.inner-wrap{
	width: 100%;
}
#header-text-nav-container{
	border-bottom: none;
}
.main-navigation {
	box-shadow: $shadow-three;
	border-radius: $rounded;
	ul li a{
		&:hover{
		background: $white;
		color: $ssk-accent;
		border-radius: 0px;
		}
	}
	ul li.current_page_item a{
		background: $lk-brand;
		color: $white;
		&:hover{
			color: $ssk-accent;
		}
	}
}
.slider{
	position: relative;
	box-shadow: $shadow-five;
	border-radius: $rounded;
	z-index: 999;
} 
.ssk-buttons img{
	margin-top: 15px;
	box-shadow: $shadow-five;
	border-radius: $rounded;
}
.btn-learn, .btn-teach, .btn-order{
	position: relative;
	z-index: 9999999;
	&:hover{
		opacity: 0.9;
		cursor: pointer;
	}
}
#push-down{
	margin-top: 220px;
}
#sun{
	position: absolute;
	left: 10px;
	top: 80px;
	width: 10%!important;
}
.fence{
	position: absolute;
	left: 0;
	margin-top: 28px;
	background: url('../img/_teachers-fence.png') 0 0 repeat-x;
	background-size: 100% 100%;
	width: 100%;
	height: 112px;
}
.dog img, .ball img, .bowl img, .house img{
	position: relative;
	z-index: 9999999;
}
.dog{
	margin-top: 10px;
}
.ball{
	margin-top: 160px;
}
.bowl{
	margin-top: 175px;
}
.land{
	position: absolute;
	left: 0;
	margin-top: 0px;
	width: 100%;
	height: 270px;
	background: $grass;
}

/* Page Specific styles */
#primary-page{
}
#secondary .widget{
	position: relative;
	z-index: 99999;
}
#secondary{
	margin-bottom: 35px;
}
.page-thumb{
	position: relative;
	margin-bottom: 35px;
}
.entry-content{
	padding: 25px;
	background: $white;
	border-radius: $rounded;
	box-shadow: $shadow-five;
	position: relative;
	z-index: 999;
}
.pushdown{
	margin: 40px 0;
}


/* Footer Specific styles */
.footer{
	img{
		position: relative;
		margin-bottom: 30px;
	}
	.kindergarden{
		
	}
	.first-grade{
		
	}
	.second-grade{
		
	}
	.third-grade{
		
	}
}

.end{
	margin: -30px 0px;
	padding: 20px 0px;
	text-align: center;
}
.brown{
	background: $g1;
	.copy p, .copy p a{
		color: $white;
		padding: 15px 0 0 0;
		text-align: center;
	}
}
.white{
	background: $white;
	.copy p, .copy p a{
		color: $g2;
		padding: 15px 0 0 0;
		text-align: center;
	}
}

