/* =Theme.scss - main Sass file compiling into "../css/theme.css"
-------------------------------------------------------------- */


/* @import
-------------------------------------------------------------- */
// Base
@import "base/global"; //global variables & mixins
@import "base/reset";
@import "base/forms";
@import "base/layout";

// Partials 
@import "partials/grids";
@import "partials/animation-cloud"; 
@import "partials/animation-footer"; 
@import "partials/bg-conditionals"; //displays diff body classes for interior pg backgrounds
@import "partials/left-sidebar";
@import "partials/faq-accordion"; //for faqs page
@import "partials/media"; 

// Third-party
@import "vendor/animate";
@import "vendor/flexslider";
@import "vendor/audio";
@import "vendor/contact";



/* Top-Level nav (teachers, parents, kids, lk nav links)
-------------------------------------------------------------- */
#menu-top.menu{
	a{
		color: $white;	
	}
	li {
		float: right;
		position: relative;
		padding: 0px 0px 40px 8px;
		font-size: $top-nav;
		text-transform: uppercase;
		text-align: center;
		color: $white;
		&:hover{
			color: $ssk-accent;
		}
		&:after{
			content: " | ";
			color: $white;
			padding-left: 10px;
		}
		&:first-child:after{
			content: " ";
		}
	}
}

/* Main SSK Landing pg (buddy with 3 clouds)
-------------------------------------------------------------- */
.center{
	text-align: center;
}
.z{
	position: relative;
	z-index: 9999999;
}
.logo{
	margin: 60px 0 75px 0;
}
#clouds{
	position: fixed;
	height: 200px;
	margin-top: 85px;
	background: transparent;
}
.thoughts{
	position: relative;
	margin: 0 auto;
	display: block;
	max-width: 70%;
	z-index: 999999999;
	.push2{
		margin-left: 8%;
	}
	.push6{
		margin-left: 60%;
	}
}
img#buddy{
	margin-top: 48%;
	margin-left: 12%;
}
img#ssk{
	position: relative;
	bottom: 0;
	left: 0;
	margin-bottom: 0px;
}
.grass{
	position: relative;
	height: 300px;
	min-height: 300px;
	margin-top: -10px;
	background: $grass;
	overflow: hidden;
	p{
		position: relative;
		margin: 0 auto;
		padding: 0px 10px;
		text-align: left;
		color: $white;
		z-index: 9999999999999;
	}
	p.copy{
		margin-top: 15px;
		a{
			color: $white;
		}
		&:after{
				position: absolute;
				content: '';
				background: url('../img/logo-landing.png') 0 0 no-repeat;
				background-size: 70% 70%;
				width: 167px;
				height: 32px;
				margin-top: -5px;
				margin-left: 10px;
			}
	}
	img{
		margin-bottom: 0px!important;
		&hover{
			cursor: pointer;
		}
	}
}



/* Teachers Landing pg 
-------------------------------------------------------------- */
html.clouds{
	overflow-x: hidden; /* for clouds animations */
}
#page{
	background: transparent;
	box-shadow: none;
}
#main{
	padding: 10px 0 0 0;
}
.inner-wrap{
	width: 100%;
}
#header-text-nav-container{
	border-bottom: none;
}
.main-navigation {
	position: relative;
	box-shadow: $shadow-three;
	background: white;
	border-radius: $rounded;
	
	ul li:first-child a {
		border-top-left-radius: $rounded;
		border-bottom-left-radius: $rounded;
	}	
	
	ul li:last-child a {
		border-top-right-radius: $rounded;
		border-bottom-right-radius: $rounded;
	}	
	
	a {
		&:hover{
			color: $ssk-accent;
		}
	}
	ul li.current_page_item a, ul li.current-page-ancestor a {
		background: $lk-brand;
		color: white;
		
		&:hover {
			background-color: lighten( $lk-brand, 10%);	
		}
	}
}
.slider{
	position: relative;
	box-shadow: $shadow-five;
	border-radius: $rounded;
	z-index: 999;
} 
.ssk-buttons img{
	margin-top: 15px;
	box-shadow: $shadow-five;
	border-radius: $rounded;
}
.btn-learn, .btn-teach, .btn-order{
	position: relative;
	z-index: 9999999;
	&:hover{
		opacity: 0.9;
		cursor: pointer;
	}
}
#push-down{
	margin-top: 0px;
}
#sun{
	position: fixed;
	left: 10px;
	top: 80px;
	width: 10%!important;
}
.fence{
	position: absolute;
	left: 0;
	margin-top: 28px;
	background: url('../img/_teachers-fence.png') 0 0 repeat-x;
	background-size: 100% 100%;
	width: 100%;
	height: 112px;
}
.dog img, .ball img, .bowl img, .house img{
	position: relative;
	z-index: 99999999999;
}
.dog{
	margin-top: 10px;
}
.ball{
	margin-top: 160px;
}
.bowl{
	margin-top: 175px;
}
.land{
	position: absolute;
	left: 0;
	margin-top: 0px;
	width: 100%;
	height: 270px;
	background: $grass;
}

/* Page Specific styles */
#primary-page{
}
#secondary .widget{
	position: relative;
	z-index: 99999;
}
#secondary{
	margin-bottom: 35px;
}
.page-thumb{
	position: relative;
	margin-bottom: 35px;
	border-radius: $rounded;
	box-shadow: $shadow-five;
	
	img{
		border-radius: $rounded;
		width: 100%;
	}
}
.entry-content{
	padding: 25px;
	background: $white;
	border-radius: $rounded;
	box-shadow: $shadow-five;
	position: relative;
	z-index: 999;
}
.pushdown{
	margin: 40px 0;
}


/* Footer Specific styles */
.footer{
	img{
		position: relative;
		margin-bottom: 30px;
	}
	.kindergarden{
		
	}
	.first-grade{
		
	}
	.second-grade{
		
	}
	.third-grade{
		
	}
}

.end{
	margin: -30px 0px;
	padding: 20px 0px;
	text-align: center;
}
.grey{
	background: #58595B;
	.copy p, .copy p a{
		color: $white;
		padding: 15px 0 0 0;
		text-align: center;
	}
}
.brown{
	background: $g1;
	.copy p, .copy p a{
		color: $white;
		padding: 15px 0 0 0;
		text-align: center;
	}
}
.green{
	background: $grass;
	.copy p, .copy p a{
		color: $white;
		padding: 15px 0 0 0;
		text-align: center;
	}
}
.white{
	background: $white;
	.copy p, .copy p a{
		color: $g2;
		padding: 15px 0 0 0;
		text-align: center;
	}
}

::selection {
	background-color: $ssk-accent;
	color: white;
}



/* wp editor columns shortcode embed
----------------------------------------------------*/
/* ------- Fluid Columns ------- */
.one_half{ width:48%; }
.one_third{ width:30.66%; }
.two_third{ width:65.33%; }
.one_fourth{ width:22%; }
.three_fourth{ width:74%; }
.one_fifth{ width:16.8%; }
.two_fifth{ width:37.6%; }
.three_fifth{ width:58.4%; }
.four_fifth{ width:67.2%; }
.one_sixth{ width:13.33%; }
.five_sixth{ width:82.67%; }
.one_half,.one_third,.two_third,.three_fourth,.one_fourth,.one_fifth,.two_fifth,.three_fifth,.four_fifth,.one_sixth,.five_sixth{ position:relative; margin-right:4%; float:left; }
.last{ margin-right:0 !important; clear:right; }
.clearboth {clear:both;display:block;font-size:0;height:0;line-height:0;width:100%;}

.buddypuppet-btn {
    border-radius: 4px;
    box-shadow: -3px 3px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 111px;
    background: url('../img/BuddyPuppet.jpg') center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #CA0378;
}
.buddypuppet-btn:hover {
    opacity: 0.8;
}

