/* =Theme.scss - main Sass file compiling into "../css/theme.css"
-------------------------------------------------------------- */


/* @import
-------------------------------------------------------------- */
// Base
@import "base/global"; //global variables & mixins
@import "base/reset";
@import "base/forms";
@import "base/layout";

// Partials 
@import "partials/grids";
@import "partials/animation-cloud"; 
@import "partials/animation-footer"; //thought bubbles appearing after x amt opacity
@import "partials/media"; 

// Third-party
@import "vendor/animate";
@import "vendor/flexslider";


/* Background Conditionals */
body{
	background-size: cover;
}

/* Landing Page Conditional bg */
.landing-main{ //main SSK landing bg
	@extend body;
	background: url('../img/bg-landing.jpg')  no-repeat center center fixed!important;
}
.landing-teachers{ //teachers landing page bg
	@extend body;
	background: $ssk-brand;
}
.landing-parents{ //parents landing page bg
	@extend body;
	background: $ssk-brand;
}
.landing-kids{ //kids landing page bg
	@extend body;
	background: $ssk-brand;
}

/* Child & Ancestor pages of Landing pgs */
.child-teachers{ //child of teachers pages bg
	@extend body;
	background: transparent url('../img/bg-landing.jpg')  no-repeat center center fixed!important;
}
.child-parents{ //child of parents pages bg
	@extend body;
	background: $parents-brand url('../img/bg-first-grade.png') no-repeat center center fixed!important;
}
.child-kids{ //child of kids pages bg
	@extend body;
	background: $parents-brand url('../img/bg-first-grade.png') no-repeat center center fixed!important;
}

/* Curriculum pages */
.kindergarden{ //page id=76
	@extend body;
	background: transparent url('../img/bg-kindergarden.jpg') no-repeat no-repeat left top!important;
}
.first-grade{ //page id=78
	@extend body;
	background: $parents-brand url('../img/bg-first-grade.png') no-repeat left top!important;
}
.second-grade{ //page id=80
	@extend body;
	background: transparent url('../img/bg-second-grade.jpg') no-repeat no-repeat left top!important;
}
.third-grade{ //page id=82
	@extend body;
	background: transparent url('../img/bg-third-grade.jpg') no-repeat no-repeat left top!important;
}


/* Top-Level nav
-------------------------------------------------------------- */
#menu-top.menu li a{
	float: right;
	position: relative;
	padding: 0px 0px 40px 8px;
	font-size: $top-nav;
	text-transform: uppercase;
	text-align: center;
	color: $dark;
	&:after{
		content: ' | ';
		color: $dark;
		padding-left: 10px;
		:last-child {
			content: ' ';
		}
	}
}


/* Main SSK Landing pg (buddy with 3 clouds)
-------------------------------------------------------------- */
.center{
	text-align: center;
}
.z{
	position: relative;
	z-index: 99;
}
.logo{
	margin: 60px 0 75px 0;
}
#clouds{
	position: absolute;
	height: 200px;
	margin-top: 85px;
	background: transparent;
}
.buddy{
	margin-bottom: 0px!important;
	bottom: 0;
}



/* Teachers Landing pg 
-------------------------------------------------------------- */
html.clouds{
	overflow-x: hidden; /* for clouds animations */
}
#page{
	background: transparent;
	box-shadow: none;
}
#main{
	padding: 10px 0 0 0;
}
.inner-wrap{
	width: 100%;
}
#header-text-nav-container{
	border-bottom: none;
}
.main-navigation {
	box-shadow: $shadow-three;
	border-radius: $rounded;
}
.slider{
	position: relative;
	box-shadow: $shadow-five;
	border-radius: $rounded;
	z-index: 999;	
} 
.ssk-buttons img{
	margin-top: 15px;
	box-shadow: $shadow-five;
	border-radius: $rounded;
}
.btn-learn, .btn-teach, .btn-order{
	position: relative;
	z-index: 9999999;
	&:hover{
		opacity: 0.9;
		cursor: pointer;
	}
}
#push-down{
	margin-top: 220px;
}
#sun{
	position: absolute;
	left: 10px;
	top: 80px;
	width: 10%!important;
}
.fence{
	position: absolute;
	left: 0;
	margin-top: 28px;
	background: url('../img/_teachers-fence.png') 0 0 repeat-x;
	background-size: 100% 100%;
	width: 100%;
	height: 112px;
}
.dog img, .ball img, .bowl img, .house img{
	position: relative;
	z-index: 9999999;
}
.dog{
	margin-top: 10px;
}
.ball{
	margin-top: 160px;
}
.bowl{
	margin-top: 175px;
}
.land{
	position: absolute;
	left: 0;
	margin-top: 0px;
	width: 100%;
	height: 260px;
	background: $grass;
}

/* Page Specific styles */
#primary-page{
}
#secondary{
}
.page-thumb, #secondary{
	margin-bottom: 25px;
}
.entry-content{
	padding: 25px;
	background: $white;
	border-radius: $rounded;
	box-shadow: $shadow-five;
}
.pushdown{
	margin-top: 40px;
}

/* Footer Specific styles */
.footer{
	.kindergarden{
		
	}
	.first-grade{
		
	}
	.second-grade{
		
	}
	.third-grade{
		
	}
}

.bottom-footer{
	margin: -30px 0px;
	background: $g1;
	.copy{
		padding: 40px 0;
		text-align: center;
		p, p a{
			@extend .copy;
			padding: 15px 0 0 0;
			color: $white;
		}
	}
}



