/* =Global.scss - import & define global project variables, mixins, etc.
-------------------------------------------------------------- */

// brand specific colors
$lk-brand: #eb068b; //lauren's kids pink
$lk-accent: #00959b; //lauren's kids teal
$ssk-brand: #9fdeec; //ssk lighter blue (logo color)
$ssk-accent: #00abd3; //ssk blue (font blue)
$grass: #94ca5b; /*#92c85a*/
$sky: #8ed7f7;

$parents-brand: #F4EEE3; //ligher brownish
$parents-accent: #E2D3B2; //darker brown

$gk: #b8b2d8; //light purple, grade K
$g1: #44321C; //dark brown on grade 1footer bg
$g2: #4d4d4d;
$g2-menu: #154259; //very dark blue
$g3: #6f62ab;   //purple

// typical colors
$white: #fff;
$dark: #444;

// sizes
$rounded: 4px;
$top-nav: 10px;

// shadows
$shadow-three: -3px 3px rgba(0, 0, 0, 0.1);
$shadow-five: -5px 5px rgba(0, 0, 0, 0.1);

// fonts
@import url("http://fonts.googleapis.com/css?family=Lato");
$base: 16px 'Lato', sans-serif, Arial;
$code: 14px 'Courier 10 Pitch',Courier,monospace;