/* =Global.scss - import & define global project variables, mixins, etc.
-------------------------------------------------------------- */

// brand specific colors
$lk-brand: #eb068b; //lauren's kids pink
$lk-accent: #00959b; //lauren's kids teal
$ssk-brand: #90D9EB; //ssk light blue (logo color)
$ssk-accent: #154259; //ssk dark blue
$grass: #8ec256;
$shadow: #d8d8d8;

// typical colors
$white: #fff;
$dark: #222;


// sizes
$rounded: 4px;

// fonts
@import url("http://fonts.googleapis.com/css?family=Lato");
$base: 16px 'Lato', sans-serif, Arial;