/*
Base.scss - imports for all mixins + global project variables
*/

// colors
$white: #fff;
$dark: #222;
$pink: #eb068b;
$light-blue: #90D9EB;
$dark-blue: #154259;
$green: #8ec256;
$shadow: #d8d8d8;

// sizes
$rounded: 4px;

// TO DO:
// fonts, sizes, mixins?, etc.