/* Main accordion css */

@import  url('//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css'); //Add latest font-awesome support

#accordion {
    max-width: 100%;
    margin: auto; /* align in the center for all screens */
    display: block; 
	div {
	    padding: 5px 10px;
	    display: inline-block;
	    overflow: auto;
	    p {
		  margin-top: 0;
		}
	 }
		h3 {
		    display: block;
		    text-decoration: none;
		    outline: none;
		    cursor: pointer;
		    font-size: 18px;
		    padding: 8px 11px;
		    margin: 15px 5px;
		}
}


/* font-awesome icon for coll/expand */
.icon-expand,.icon-collapse {
    float: right;
    margin-top: 5px;
}
.faqs h3 {
    background: $lk-brand; 
    color: $white;
}