/* Left Sidebar styles for interior pages
-------------------------------------------------------------- */
/* Curriculum Menu Default */
.sidebar-menu{
	background-color: lighten($ssk-accent, 2%);
	border-radius: $rounded;
	box-shadow: $shadow-three;
	
	a {
		display: block;
		z-index: 0;
		padding: 15px;
		color: $white;
		
	}
	
	li {
		position: relative;
		
		&:hover{ //default menu, if ID is not set
			background: $g1;
			text-decoration: none;
		}
		
		&:after{
			content: '';
			display: inline-block;
			width: 12px;
			height: 12px;
			border-radius: 50%;
			background-color: rgba(black, 0.15);
			position: absolute;
			top: 21px;
			right: 20px;
		}
		&:first-child {
			border-top-left-radius: $rounded;
			border-top-right-radius: $rounded;
		}
		&:last-child {
			border-bottom-left-radius: $rounded;
			border-bottom-right-radius: $rounded;
		}
	}
	
	.current-menu-item {
		background: $g1;
	}
}

.green-bg {
	background-color: $g5 !important;
	color: white;
	
	h2,p,a {
		color: white !important;
	}
}

/* Curriculum Menu by Grade */
#diduknow{
	&:before{
		display: block;
		position: absolute;
		content: '';
		background: url('../img/sidebar-buddy-dyk.png') no-repeat bottom center; // "did you know" buddy
		width: 100%;
		height: 101px;
		top: -90px;
		z-index: 1;
	}
	a li{
		&:hover{
			background: $gk;
		}
	}	
}
.kindergarden .sidebar-menu {
	&:before{
		display: block;
		position: absolute;
		content: '';
		background: url('../img/sidebar-buddy-k.png') no-repeat bottom center;
		width: 100%;
		height: 101px;
		top: -90px;
		z-index: 1;
	}
	li {
		&:hover{
			background: $gk;
		}
	}
	.current-menu-item {
		background: $gk;
	}
}
.first-grade .sidebar-menu {
	&:before{
		display: block;
		position: absolute;
		content: '';
		background: url('../img/sidebar-buddy-g1.png') no-repeat bottom center;
		width: 100%;
		height: 101px;
		top: -90px;
		z-index: 1;
	}
	li {
		&:hover{
			background: $g1;
		}
	}	
}
.second-grade .sidebar-menu {
	&:before{
		display: block;
		position: absolute;
		content: '';
		background: url('../img/sidebar-buddy-g2.png') no-repeat bottom center;
		width: 100%;
		height: 101px;
		top: -90px;
		z-index: 1;
	}
	li {
		&:hover{
			background: $g2-menu;
		}
	
	}
	.current-menu-item {
		background: $g2-menu;
	}
}
.third-grade .sidebar-menu, .page-id-267 .sidebar-menu, .page-id-28 .sidebar-menu {
	&:before{
		display: block;
		position: absolute;
		content: '';
		background: url('../img/sidebar-buddy-g3.png') no-repeat bottom center;
		width: 100%;
		height: 101px;
		top: -90px;
		z-index: 1;
	}
	li {
		&:hover{
			background: $g3;
		}
	}	
	.current-menu-item {
		background: $g3;
	}
}
.fourth-grade .sidebar-menu {
	li {
		&:hover{
			background: $g4;
		}
	}	
	.current-menu-item {
		background: $g4;
	}
}
.fifth-grade .sidebar-menu {
	li {
		&:hover{
			background: $g5;
		}
	}
	.current-menu-item {
		background: $g5;
	}	
}

.fourth-grade, .fifth-grade {
	#secondary {
		margin-top: -80px;
	}
}

/* Order button */
.order-btn{
	border-radius: $rounded;
	box-shadow: $shadow-three;
	width: 100%;
	height: 122px;
	background: url('../img/button-order.jpg') center center;
	background-repeat: no-repeat;
	background-size: cover;
	&:hover{
		opacity: 0.8;
	}
}
.letters-btn{
	@extend .order-btn;
	background: url('../img/button-letters.jpg') center center;
}
/* Did you Know Facts widget */
.enhanced-text-widget{
	background: $white;
	border-radius: $rounded;
	box-shadow: $shadow-three;
}
.textwidget.widget-text{
	h2{
		color: $ssk-accent;
		text-transform: uppercase;
		font-size: 21px;
		font-weight: 700;
		margin-top: 25px;
		margin-left: 15px;
	}
	p{
		text-align: left;
		padding: 0px 15px;
	}
	p:last-child{
		padding-bottom: 40px;
	}
	/* source list for "Did you Know?" text box */
	.source{
		color: $ssk-accent;
		font-size: 12px;
		a{
			color: $ssk-accent;
			text-decoration: underline;
		}
	}
}

.textwidget.widget-text p:last-child {
	padding-bottom: 18px;
}


/* Teachers' Intitute */

#ti {
	&:before{
		display: block;
		position: absolute;
		content: '';
		background: url('../img/sidebar-buddy-dyk.png') no-repeat bottom center; // "did you know" buddy
		width: 100%;
		height: 101px;
		top: -90px;
		z-index: 1;
	}
	
	li {
		&:hover{
			background: white;
			a {
				color: lighten($ssk-accent, 2%);
			}
		}
		&:after{
			color: darken($gk, 10%);
		}
	}	
}

.apply-btn{
	border-radius: $rounded;
	box-shadow: $shadow-three;
	width: 100%;
	height: 122px;
	background: url('../img/button-apply.jpg') center center;
	background-repeat: no-repeat;
	background-size: cover;
	&:hover{
		opacity: 0.8;
	}
}

