/* Left Sidebar styles for interior pages
-------------------------------------------------------------- */
/* Curriculum Menu Default */
.sidebar-menu{
	background-color: lighten($ssk-accent, 2%);
	border-radius: $rounded;
	box-shadow: $shadow-three;
	
	a {
		display: block;
		position: relative;
		z-index: 0;
		
		+ a {
			border-top: 1px solid white;
		}
	}
	
	li {
		color: $white;
		padding: 15px;
		
		&:hover{ //default menu, if ID is not set
			background: $g1;
			text-decoration: none;
		}
		
		&:after{
			content: '';
			display: inline-block;
			width: 12px;
			height: 12px;
			border-radius: 50%;
			background-color: rgba(black, 0.15);
			position: absolute;
			top: 21px;
			right: 20px;
		}
	}
}

/* Curriculum Menu by Grade */
#diduknow{
	&:before{
		display: block;
		position: absolute;
		content: '';
		background: url('../img/sidebar-buddy-dyk.png') no-repeat bottom center; // "did you know" buddy
		width: 100%;
		height: 101px;
		top: -84px;
	}
	a li{
		&:hover{
			background: $gk;
		}
	}	
}
#gradek{
	&:before{
		display: block;
		position: absolute;
		content: '';
		background: url('../img/sidebar-buddy-k.png') no-repeat bottom center;
		width: 100%;
		height: 101px;
		top: -84px;
	}
	a li{
		&:hover{
			background: $gk;
		}
	}	
}
ul#grade1{
	&:before{
		display: block;
		position: absolute;
		content: '';
		background: url('../img/sidebar-buddy-g1.png') no-repeat bottom center;
		width: 100%;
		height: 101px;
		top: -84px;
	}
	a li{
		&:hover{
			background: $g1;
		}
	}	
}
ul#grade2{
	&:before{
		display: block;
		position: absolute;
		content: '';
		background: url('../img/sidebar-buddy-g2.png') no-repeat bottom center;
		width: 100%;
		height: 101px;
		top: -84px;
	}
	a li{
		&:hover{
			background: $g2-menu;
		}
	}	
}
ul#grade3{
	&:before{
		display: block;
		position: absolute;
		content: '';
		background: url('../img/sidebar-buddy-g3.png') no-repeat bottom center;
		width: 100%;
		height: 101px;
		top: -84px;
	}
	a li{
		&:hover{
			background: $g3;
		}
	}	
}
ul#grade4 {
	a li{
		&:hover{
			background: $g4;
		}
	}	
}
ul#grade5 {
	a li{
		&:hover{
			background: $g5;
		}
	}	
}

/* Order button */
.order-btn{
	border-radius: $rounded;
	box-shadow: $shadow-three;
	width: 100%;
	height: 122px;
	background: url('../img/button-order.jpg') center center;
	background-repeat: no-repeat;
	background-size: cover;
	&:hover{
		opacity: 0.8;
	}
}
.letters-btn{
	@extend .order-btn;
	background: url('../img/button-letters.jpg') center center;
}
/* Did you Know Facts widget */
.enhanced-text-widget{
	background: $white;
	border-radius: $rounded;
	box-shadow: $shadow-three;
}
.textwidget.widget-text{
	h2{
		color: $ssk-accent;
		text-transform: uppercase;
		font-size: 21px;
		font-weight: 700;
		margin-top: 25px;
		margin-left: 15px;
	}
	p{
		text-align: left;
		padding: 0px 15px;
	}
	p:last-child{
		padding-bottom: 40px;
	}
	/* source list for "Did you Know?" text box */
	.source{
		color: $ssk-accent;
		font-size: 12px;
		a{
			color: $ssk-accent;
			text-decoration: underline;
		}
	}
}

.textwidget.widget-text p:last-child {
	padding-bottom: 18px;
}


/* Teachers' Intitute */

#ti{
	&:before{
		display: block;
		position: absolute;
		content: '';
		background: url('../img/sidebar-buddy-dyk.png') no-repeat bottom center; // "did you know" buddy
		width: 100%;
		height: 101px;
		top: -94px;
	}
	
	a li{
		&:hover{
			background: white;
			color: lighten($ssk-accent, 2%);
		}
		&:after{
			color: darken($gk, 10%);
		}
	}	
}

.apply-btn{
	border-radius: $rounded;
	box-shadow: $shadow-three;
	width: 100%;
	height: 122px;
	background: url('../img/button-apply.jpg') center center;
	background-repeat: no-repeat;
	background-size: cover;
	&:hover{
		opacity: 0.8;
	}
}

