/* =Media Queries - breakpoint targeting
-------------------------------------------------------------- */

$phone-portrait: 320px;
$phone-landscape: 480px;


/* Breakpoint description - above 768px (above mobile nav)
-------------------------------------------------------------- */
@media screen and (min-width: 768px) {
	#page{
		max-width: 64%;
		width: auto;
	}
	#primary-page{
		float: right;
		width: 73%;
	}
	#secondary{
		position: absolute;
	}
	#header-right-sidebar {
		text-align: left;
	}
	.main-navigation{
		padding-top: 0;
		background: $white;
		border-radius: $rounded;
		li{
			padding: 0px 0px;
		}
		ul li a{
			padding: 8px 12px;
			color: $lk-brand;
			font-size: 13px;
			text-transform: uppercase;
			&:hover{
				color: $white;
				background: $lk-brand;
				border-radius: $rounded;
			}
		}
		a{
			height: 22px;
			padding: 0 0;
		}
	}
	.buddy-thoughts{
		margin-top: -70px;
		margin-left: -30px;
	}
}


/* Breakpoint description - below 900, above 769 (fix nav bug)
-------------------------------------------------------------- */
@media (max-width:900px) and (min-width:769px) {
	#page{
		max-width: 82%;
	}
}


/* Breakpoint description - below 768 (below mobile nav)
-------------------------------------------------------------- */
@media screen and (max-width: 768px) { 
	.logo{
		margin: 50px 0;
	}
	.buddy-thoughts{
		margin-top: -60px;
	}
	#primary, #secondary{
		width: 100%;
	}
	#secondary{
		margin-top: 25px;
	}
	.pushdown{
		margin-top: 0px!important;
	}
}



/* Breakpoint description - below 480 (landscape)
-------------------------------------------------------------- */
@media screen and (max-width: $phone-landscape) { 
	#clouds, #sun{
		display: none;
	}
	#push-down{
		margin-top: 40px;
	}
	.buddy-thoughts{
		margin-top: -15px;
	}
	.dog{
		margin-top: 35px;
	}
	
}

/* Breakpoint description - below 320 (portrait)
-------------------------------------------------------------- */
@media screen and (max-width: $phone-portrait) { 
	.land{
		height: 175px;
	}
	.ball{
		margin-top: 100px;
	}
	.bowl{
		margin-top: 110px;
	}
	.house{
		margin-top: 20px;
	}
	.dog{
		margin-top: 40px;
	}
	#push-down{
		margin-top: 10px;
	}
	
}